{% if todolist %}
<ul>
    {%- for todo in todolist -%}
    <li>{{todo.label}}&nbsp;<span hx-delete="/components/todo-list/{{todo.id}}" hx-trigger="click">X</span></li>
    {%- endfor -%}
</ul>
{% else %}
<b>Congrats, you have nothing to do.</b>
{% endif %}