<form hx-post="/components/todo-list" hx-swap="outerHTML">
    <input class="border-2 border-indigo-200" name="label" type="text" placeholder="Farm some gems">
    <button class="px-4 py-1 text-sm font-semibold  border border-blue-200 text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2" type="submit">Add</button>
</form>